@charset "UTF-8";

.btn,
a.btn,
button.btn {
    outline: none;
    border: none;
    padding-top: 20em;
    padding-bottom: 20em;
    padding-right: 10em;
    padding-left: 10em;
}


.button_link,
a.button_link {
    color: black;
    background-color: skyblue;
    padding-top: 20em;
    padding-bottom: 20em;
    padding-right: 10em;
    padding-left: 10em;
}
.button_link:hover,
a.button_link:hover {
    color: #fff;
    background: #f56500;
  
}

ul.pointless {
    list-style: none;
}