@charset "UTF-8";

.btn,
a.btn,
button.btn {
    outline: none;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.created_content {
    outline: none;
    border: none;
    width: 300px;
    color: black;
    background-color: skyblue;
}


.button_link,
a.button_link {
    color: black;
    background-color: skyblue;
}
.button_link:hover,
a.button_link:hover {
    color: #fff;
    background: #f56500;
  
}

ul.pointless {
    list-style: none;
}