@charset "UTF-8";

.btn,
a.btn,
button.btn {
    outline: none;
}


.button_link,
a.button_link {
  color: #fff;
  background-color: #eb6100;
}
.button_link:hover,
a.button_link:hover {
  color: #fff;
  background: #f56500;
}